
#efter_visa{
	visibility: hidden;
}
#quiz{
	background: lightgreen;
	width: 300px;
	border-radius: 20px;
}
.fraga{
	padding-left: 5px;
}
.fraga1{
	padding-left: 10px;
	padding-top: 5px;
}
#button{
	color: white;
	border: solid;
	border-radius: 6px;
	border-width: 2px;
	border-color: lightgrey;
	padding: 11px;
	background: green;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}